.header{
    height: 34vw;
    margin: 30px auto;
    /* background-color: black; */
    background-image: url('/src/assets/header_img.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
   
    
}